@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Диапазон всех весов */
  font-style: normal;
  font-display: swap;
}

@theme {
  --spacing: 1px;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@utility inter {
  font-family: var(--font-inter);
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  user-select: none;
}
